
/* Import both 300 and 400 so we get a 'real' bold face. */


/* For source code listings. */
/*
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900&subset=latin-ext';
*/

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
	font-family: "Source Code Pro", sans-serif;
	font-size: 10pt;
	font-weight: 300;
	color: #666;
}

/* Typography */

a {
	text-decoration: none;
	color: #0ac;
	font-weight: 400;
}

a:hover {
	border-bottom: 2px #0ac solid;
	color: #0ac;
}

a:active {
	color: #0ac;
}

a:visited {
	color: #579;
}

h1, h2, h3 {
	padding: 0;
	font-weight: 400;
	margin-bottom: 0.5em;
}

h1 {
	text-transform: uppercase;
	font-size: 17pt;
}

h2 {
	border-bottom: 1px #aaa dotted;
	font-size: 15pt;
}

h3 {
	font-size: 13pt;
}

